<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>

        <!-- 是否打印所在的行号(对性能影响比较大) -->
        <property name="enable_log_location">false</property>
        <!-- 应用名 -->
        <property name="logstack.application.name">danmu</property>
        <property name="logstack.client.id">douyu</property>
        <property name="vmid">douyu_danmu-server</property>
        <!-- 日志输出目录 -->
        <property name="LOG_HOME">logs/${logstack.client.id}</property>

        <property name="default_pattern">
            <![CDATA[ [%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5level] [default] [%t] [%C{1}:%L] %msg%n ]]>
        </property>

        <property name="system_pattern">
            <![CDATA[ [%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5level] [system] [%t] [%C{1}:%L] %msg%n ]]>
        </property>
    </properties>



    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${default_pattern}" />
        </Console>

        <RollingRandomAccessFile name="defFile" fileName="${LOG_HOME}/${logstack.application.name}-default.log" filePattern="${LOG_HOME}/default-%d{yyyy-MM-dd-HH}.log">
            <PatternLayout pattern="${default_pattern}" charset="utf-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="31"/>
        </RollingRandomAccessFile>

        <Async name="defAppender">
            <AppenderRef ref="defFile"/>
        </Async>


        <RollingRandomAccessFile name="systemFile" fileName="${LOG_HOME}/${logstack.application.name}-system.log" filePattern="${LOG_HOME}/system-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${system_pattern}" charset="utf-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="31"/>
        </RollingRandomAccessFile>

        <Async name="systemAppender">
            <AppenderRef ref="systemFile"/>
        </Async>


    </Appenders>

    <Loggers>
        <Logger name="defLogger" level="info" additivity="false">
            <AppenderRef ref="defAppender" />
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="sysLogger" level="info" additivity="false">
            <AppenderRef ref="systemAppender" />
            <AppenderRef ref="Console" />
        </Logger>

    </Loggers>
</Configuration>